<app-header [items]="items"
            (stateChanged)="onStateChanged('first',$event)"
></app-header>
<app-header
  [items]="items2"
  [title]="title2"
  (stateChanged)="onStateChanged('second',$event)"
></app-header>
<app-header
  [items]="items2"
  [title]="title2"
  (stateChanged)="onStateChanged('third',$event)"
></app-header>

<router-outlet></router-outlet>


<!--<ui-button></ui-button>-->
<!--<app-table-info></app-table-info>-->
<!--<ui-button></ui-button>-->
<!--<app-bird-card></app-bird-card>-->
<footer>
  this is footer
</footer>
